/* Contains rows and buttons */
.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.8rem auto;
    width: 760px;
    height: 620px;
    background-color: #fefefe;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.06);
}

/* Contains buttons */ 
.row {
    display: flex;
}

/* The actual slots */
.col {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0.2rem;
    color: transparent;
    width: 90px;
    height: 90px;
    border: 10px solid rgba(0, 0, 0, 0.04);
    border-radius: 100%;
    background-color: rgba(254, 254, 254, 0.1);
    font-size: 2.8rem;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all;
}

    .col-active {
        border: 10px solid #00a2df;
    }

    .col-white {
        border-color: black;
        background-color: white;
    }

    .col-black {
        border-color: white;
        background-color: black;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.08); */
    }

/* Mobile view */
@media screen and (max-width: 430px) {
    .col {
        width: 40px;
        height: 40px;
        font-size: 1.8rem;
    }
}