@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: #192e2a; */
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: #fefefe;
}

.stat-container {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
}

/* Head title */
h1 {
  font-size: 2.2rem;
}

/* Game over message */
p.message {
  font-size: 1.8rem;
  height: 52px;
}

/* New game button */
button.new-game {
  outline: none;
  border: none;
  background: none;
  font-family: 'Open Sans', sans-serif;
  color: rgba(254, 254, 254, 0.6);
  border: 3px solid rgba(254, 254, 254, 0.4);
  border-radius: 2px;
  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
  margin: 0.8rem;
  transition: 0.2s all;
}

  button.new-game:hover {
    /* background-color: #00a2df; */
    border-color: #00a2df;
    /* color: rgba(0, 0, 0, 0.8); */
    color: rgba(254, 254, 254, 0.8);
  }